* {
  /* border: 1px solid red; */
}

div#content-template img {
  display: block;
  /* margin: 40px auto; */
  border-radius: 10px;
  max-width: 100%;
}

span.category-template {
  /* background-color: blueviolet; */
  background-color: rgb(207, 34, 34);
  color: white;
  padding: 4px 14px;
  border-radius: 20px;
  display: inline-block;
  margin: 10px 10px 15px 0;
}

div#bar1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

div#dates {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}



@media (max-width: 710px) {
  div#content-template img {
    width: 90%;
    height: auto;
  }

  div#bar1 {
    flex-direction: column;
  }
  
}


div#content-template h2 {
  margin: 2.3rem 0 1.3rem 0;
}

div#content-template h3 {
  margin: 1.7rem 0;
}


div#content-template p {
  letter-spacing: 0.4px;
}

div#blog-posting {
  margin: 0 0 80px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding-left: unset;
  padding-right: unset;
}

div.row {
  margin-right: unset;
  margin-left: unset;
  margin: 0 7px;
}

div.container-fluid {
  padding-left: unset;
  padding-right: unset;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: unset;
  padding-right: unset;
}

#footer-final,
#footer-final div,
#footer-final div p,
#footer-final div * {
  word-wrap: break-word !important; 
  overflow-wrap: break-word !important;
  width: 100%;
  /* display: block; */
}


