nav#top {
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  border-radius: 10px 10px 0 0;


  border-bottom: 2px solid #000000;
  background-color: #ffffff;

  /* background-image: url('../img/svg/wave_nav.svg');
  background-repeat: repeat;
  background-position: center; 
  background-size: cover; */

  /* background-image: url('../img/pav2.jpg');
  background-repeat: repeat-x;
  background-position: center top;
  background-size: auto 100%; */
}




nav#top>* {
  white-space: nowrap;
  width: fit-content;
  margin: 0 auto;
  padding: .5rem 0;
  text-decoration: none;
  letter-spacing: 2.0px;
}

nav#top>*>img {
  padding: 0;
}

nav#top>*:not(:first-of-type)>img {
  width: 30px;
  height: 30px;
}

nav#top>a:not(:first-of-type)>img:hover {
  /* content: url('/img/icons/second_red.svg'); */
}

nav#top>a:link,
nav#top>a:visited {
  color: rgb(0, 0, 0);
}


/* nav#top>a:visited {
  color: white;
} */


nav#top>a:link:active,
nav#top>a:visited:active {
  color: rgb(121, 121, 121);
}

nav#top>a:hover {
  color: red;
}





@media screen and (max-width: 850px) {
  nav#top {
    flex-direction: column !important;
  }
}