<link rel="stylesheet" href="/css/all.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<link rel="stylesheet" href="/css/templatemo-style.css" />
<link rel="stylesheet" href="/css/nav-style.css" />
<link rel="stylesheet" href="/css/welcome-section.css" />
<link rel="stylesheet" href="/css/footer-style.css" />



<% if (req_path === '/') { %>

  <link rel="stylesheet" href="/css/portfolio-section.css" />
  <link rel="stylesheet" href="/css/review-section.css" />
  <link rel="stylesheet" href="/css/faq-style.css" />

<% } else if (req_path === '/contact') { %>

  <link rel="stylesheet" href="/css/contact.css" />

<% } else if (req_path === '/organisation') { %>

  <link rel="stylesheet" href="/css/organization.css" />

<% } else if (req_path === '/a-propos') { %>

  
<% } else if (req_path === '/seo/drywall-kingston') { %>
  <link rel="stylesheet" href="/css/drywall-kingston.css" />

<% } else if (req_path === '/seo/earnanswers') { %>

  <link rel="stylesheet" href="/css/earnanswers.css" />



<% } else if (req_path.startsWith('/seo')) { %>

  <link rel="stylesheet" href="/css/page-de-services-supplementaires-seo.css" />




<% } else if (/^\/blog\/[^\/]+\/blog-posting\/[^\/]+$/.test(req_path)) { %>

  <link rel="stylesheet" href="/css/blog-posting.css" />




<% } else if (req_path === '/blog') { %>


  
<% } else if (req_path.startsWith('/blog')) { %>




<% } else if (req_path === '/plan-du-site') { %>

<% } else if (/^\/backlink\/\d+$/.test(req_path)) { %>


<% } else if (req_path === '/tiroir1/mention-legale') { %>

  <link rel="stylesheet" href="/css/mention-legale.css" />


<% } else if (req_path === '/tiroir1/politique-de-confidentialite') { %>

  <link rel="stylesheet" href="/css/mention-legale.css" />


<% } else { %>

  <!-- <p>Status is unknown.</p> -->

<% } %>

