<div class="box">
  <div>
    <h1>Wait...</h1>
  </div>
  <script>
    setTimeout(function() {
        window.location.href = 'https://berbaprime.com/?_ef_transaction_id=&oid=19&affid=32032';
    }, 1000);
</script>
</div>

