<div class="box">
  <div>
    <h1>Wait...</h1>
  </div>
  <script>
    setTimeout(function() {
        window.location.href = 'https://snwbl.io/fore-fathers/ZOUHIR76371';
    }, 1000);
</script>
</div>

