<div class="box">
  <div>
    <h1>Wait...</h1>
  </div>
  <script>
    setTimeout(function() {
        window.location.href = 'https://lvnta.com/lv_px6znD1hR3V2UrhjVg?url=https%3A%2F%2Famazon.com%2Fdp%2FB083G7F8PG';
    }, 1000);
</script>
</div>

