<div class="box">
  <div>
    <h1>Wait...</h1>
  </div>
  <script>
    setTimeout(function() {
        window.location.href = 'https://www.weareplufl.com?snowball=ZOUHIR68705';
    }, 1000);
</script>
</div>

