<div class="box">
  <div>
    <h1>Wait...</h1>
  </div>
  <script>
    setTimeout(function() {
        window.location.href = 'https://shareasale.com/r.cfm?b=2037251&u=3912076&m=106166&urllink=&afftrack=';
    }, 1000);
</script>
</div>

