<div class="box">
  <div>
    <h1>Wait...</h1>
  </div>
  <script>
    setTimeout(function() {
        window.location.href = 'https://0ffac9yclat0r206j8yels0zew.hop.clickbank.net';
    }, 1000);
</script>
</div>

